@charset "UTF-8";

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.no-webp .header{
  background: url(../img/layer_8_837.png) center/cover no-repeat; }

.header {
  height: 100vh;
  
}

.container {
  max-width: 1200px;
  max-height: 3000px;
  margin: 0 auto;
  padding: 0px 50px;
}

.fullscreen {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23vh 0 11vh 0;
}

.no-webp .fullscreen__icon{
  background: url(../img/icon/ellipse_1.png) no-repeat; }

.fullscreen__icon {
  width: 65px;
  min-height: 69px;
}

.no-webp .fullscreen__icon2{
  background: url(../img/icon/shape_1_702.png) no-repeat; }

.fullscreen__icon2 {
  width: 23px;
  min-height: 37px;
}

.text {
  font-family: Lato;
  text-align: center;
  color: #ffffff;
  padding: 8vh 0 18vh 0;
}

.text__title {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 50px;
}

.text__sabtitle {
  font-size: 15px;
  font-weight: 400;
}

.footer__blok {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-webp .footer__blok-img{
  background: url(../img/icon/ellipse_1_copy_12_748.png) no-repeat; }

.footer__blok-img {
  width: 35px;
  min-height: 37px;
  padding-right: 85px;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 900;
}

/*--------------------*/

.text-blok__border {
  border: 3px solid #3c3c3c;
  border-top: none;
  position: relative;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-blok__border::after {
  content: "";
  height: 3px;
  width: 350px;
  background-color: #3c3c3c;
  position: absolute;
  top: 0;
  left: -2px;
}

.text-blok__border::before {
  content: "";
  height: 3px;
  width: 350px;
  background-color: #3c3c3c;
  position: absolute;
  top: 0;
  right: -3px;
}

.no-webp .text-blok__border-icon{
  background: url(../img/icon/shape_2.png) no-repeat; }

.text-blok__border-icon {
  width: 80px;
  min-height: 83px;
}

.no-webp .text-blok__border-icon1{
  background: url(../img/icon/shape_3.png) no-repeat; }

.text-blok__border-icon1 {
  width: 79px;
  min-height: 76px;
  margin: 65px 0 0 0;
}

.no-webp .text-blok__border-icon2{
  background: url(../img/icon/shape_4.png) no-repeat; }

.text-blok__border-icon2 {
  width: 79px;
  min-height: 91px;
  margin: 65px 0 0 0;
}

.text-blok__border-subtitle {
  margin: 37px 0;
}

.text-blok__border-title {
  position: absolute;
  top: -22px;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

.text-blok__border-text {
  margin: 0 170px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.text-blok__border-button {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #ffffff;
  background: #3c3c3c;
  width: 395px;
  height: 58px;
  border: 2px solid #3c3c3c;
}

.text-blok__text-up {
  margin: 0px 0 35px 0;
}

.about {
  height: 100vh;
}

.about__text-blok {
  height: 100vh;
  width: 100%;
  color: #3c3c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services {
  height: 100vh;
}

.no-webp .services__text-blok{
  background: url(../img/layer_4.png) center/cover no-repeat; }

.services__text-blok {
  height: 100vh;
  width: 100%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ibg {
  border: 3px solid #fff;
  border-top: none;
  position: relative;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ibg::after {
  content: "";
  height: 3px;
  width: 350px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -2px;
}

.ibg::before {
  content: "";
  height: 3px;
  width: 350px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -3px;
}

.what__text-blok {
  width: 100%;
  color: #3c3c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 110px 0;
}

.pictures__blok {
  display: -ms-grid;
  display: grid;
  height: 50vh;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.pictures__blokblok-1-text {
  text-decoration: none;
  font-family: Lato;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #ffffff;
  margin: 15vh 0 0 2vw;
}

.no-webp .pictures__blokblok-1{
  background: url(../img/layer/layerr_1.png) center/cover no-repeat; }

.pictures__blokblok-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 29%;
          flex: 1 1 29%;
}

.no-webp .pictures__blokblok-2{
  background: url(../img/layer/layerr_2.png) center/cover no-repeat; }

.pictures__blokblok-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 39%;
          flex: 1 1 39%;
}

.no-webp .pictures__blokblok-3{
  background: url(../img/layer/layerr_3.png) center/cover no-repeat; }

.pictures__blokblok-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 29%;
          flex: 1 1 29%;
}

.no-webp .pictures__blokblok-4{
  background: url(../img/layer/layerr_4.png) center/cover no-repeat; }

.pictures__blokblok-4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 29%;
          flex: 1 1 29%;
}

.no-webp .pictures__blokblok-5{
  background: url(../img/layer/layerr_5.png) center/cover no-repeat; }

.pictures__blokblok-5 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 39%;
          flex: 1 1 39%;
}

.no-webp .pictures__blokblok-6{
  background: url(../img/layer/layerr_6.png) center/cover no-repeat; }

.pictures__blokblok-6 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 29%;
          flex: 1 1 29%;
}

.contact__text-blok {
  width: 100%;
  color: #3c3c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 140px 0 0 0;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }

  .text-blok__border::after {
    width: 250px;
  }

  .text-blok__border::before {
    width: 250px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .text-blok__border::after {
    width: 170px;
  }

  .text-blok__border::before {
    width: 170px;
  }

  .text-blok__border-title {
    top: -17px;
    font-size: 30px;
  }

  .text-blok__border-text {
    margin: 0 100px;
    font-size: 16px;
  }

  .pictures__blokblok-1-text {
    text-decoration: none;
    font-family: Lato;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #ffffff;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 500px;
  }

  .text-blok__border::after {
    width: 65px;
  }

  .text-blok__border::before {
    width: 65px;
  }

  .text-blok__border-title {
    top: -15px;
    font-size: 26px;
  }

  .text-blok__border-text {
    margin: 0 70px;
    font-size: 14px;
  }

  .text-blok__border-button {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.16em;
    width: 220px;
    height: 40px;
  }

  .pictures__blokblok-1-text {
    text-decoration: none;
    font-family: Lato;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    color: #ffffff;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: none;
  }

  .text-blok__border {
    padding: 50px 0;
  }

  .text-blok__border::after {
    width: 30px;
  }

  .text-blok__border::before {
    width: 30px;
  }

  .text-blok__border-title {
    top: -12px;
    font-size: 23px;
  }

  .text-blok__border-text {
    margin: 0 50px;
    font-size: 11px;
  }

  .text-blok__border-button {
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.16em;
    width: 140px;
    height: 25px;
  }

  .pictures__blokblok-1-text {
    text-decoration: none;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media (max-height: 1000px) {
  .fullscreen {
    padding: 50px 0 100px 0;
  }
}

@media (max-height: 600px) {
  .fullscreen {
    padding: 30px 0 100px 0;
  }

  .text {
    padding: 10px 0 10px 0;
  }

  .text__title {
    font-size: 34px;
    margin-bottom: 10px;
  }

  .text-blok__border {
    padding: 25px 0;
  }

  .text-blok__text-up {
    margin: 0px 0 15px 0;
  }
}

.webp .header{ background: url(../img/layer_8_837.webp) center/cover no-repeat; }

.webp .fullscreen__icon{ background: url(../img/icon/ellipse_1.webp) no-repeat; }

.webp .fullscreen__icon2{ background: url(../img/icon/shape_1_702.webp) no-repeat; }

.webp .footer__blok-img{ background: url(../img/icon/ellipse_1_copy_12_748.webp) no-repeat; }

.webp .text-blok__border-icon{ background: url(../img/icon/shape_2.webp) no-repeat; }

.webp .text-blok__border-icon1{ background: url(../img/icon/shape_3.webp) no-repeat; }

.webp .text-blok__border-icon2{ background: url(../img/icon/shape_4.webp) no-repeat; }

.webp .services__text-blok{ background: url(../img/layer_4.webp) center/cover no-repeat; }

.webp .pictures__blokblok-1{ background: url(../img/layer/layerr_1.webp) center/cover no-repeat; }

.webp .pictures__blokblok-2{ background: url(../img/layer/layerr_2.webp) center/cover no-repeat; }

.webp .pictures__blokblok-3{ background: url(../img/layer/layerr_3.webp) center/cover no-repeat; }

.webp .pictures__blokblok-4{ background: url(../img/layer/layerr_4.webp) center/cover no-repeat; }

.webp .pictures__blokblok-5{ background: url(../img/layer/layerr_5.webp) center/cover no-repeat; }

.webp .pictures__blokblok-6{ background: url(../img/layer/layerr_6.webp) center/cover no-repeat; }